body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b5bfd7;
    font-family: "Ubuntu", sans-serif;
}

.app{
    background-color: #fff;
    box-shadow: 0px 0px 17px 3px rgba(153, 174, 227, 0.56);
    width: 600px;
    padding: 20px;
    border-radius: 4px;
}

.header-info{
    margin-left: auto;
    font-size: 14px;
}

.todo-actions{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}